*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* position: relative; */
}

body{
 background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, rgb(70, 69, 69), rgb(198, 198, 197));
  background-size: cover;
  min-height: 100vh;
  height: auto;
  /* position: relative; */
}

.header{
    color: crimson;
    background-color: #ffa502;
    text-align: center;
    height: 4rem;
    color: white;
    box-shadow: 0px 2px 6px #888888;
}

.header h1{
    padding-top: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

/* Create box*/
.createBox{
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgb(32, 32, 32);
}

.createBox input,.createBox textarea{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.createBox button{
    font-size: 35px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 20px;
    bottom: -20px;
    background: #ffa502;
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0 1px 5px rgb(138, 137, 137) ;
}

.createBox button:hover{
    background-color: #e79602;
}

.noteBox{
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
    border-radius: 8px;
    padding: 10px;
    width: 70%;
    max-width: 240px;
    margin: 16px 16px 16px 50px;
    float: left;
    min-height: 150px;
    min-width: 300px;
}

.noteBox h1{
    font-family: 'Montserrat', sans-serif;
}
.noteBox p{
    font-family: 'Roboto', sans-serif;
}

.noteBox button{
    position:absolute;
    right: 15px;
    bottom: 5px;
    border: none;
    background: white;
    color: #ffa502;
    text-shadow: #888888;
}


.noteBox button i:hover{
    color: red;
}


footer{
    /* position: absolute; */
    /* bottom: 5px; */
    text-align: center;
    width: 100%;
    height: 1.5rem;
}
footer p{
    color: rgb(255, 255, 255);
}


@media only screen and (max-width:740px){
    .noteBox{
        float: none;
        margin:50px auto;
    }
    /* footer{
        position: relative;
        bottom: 0;
    } */
}